@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
body {
  background-color: #222121;
}

img {
  width: 40px;
  height: 40px;
}

.user-page {
  background-color: #222121;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
  height: 100%;
}

.home {
  background-color: #222121;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  height: 100vh;
}

.button {
  width: 100px;
  background: none;
  color: #ffff42;
  border: 2px solid black;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.button:hover {
  background-color: #7180b9;
  color: black;
  transition: all 0.5s;
}

.user-button {
  width: 100px;
  background: none;
  color: #ffff42;
  border: 2px solid black;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.user-button:hover {
  background-color: #7180b9;
  color: black;
  transition: all 0.5s;
}

.sidebar {
  box-shadow: 1px 1px 1px #7180b9;
  height: 100px;
  background-color: #131313;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0%;
  transition: all 0.5s;
  z-index: 10;
}

.in-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link-button {
  width: 100px;
  background: none;
  color: #ffff42;
  border: 2px solid black;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.link-button:hover {
  background-color: #7180b9;
  color: black;
  transition: all 0.5s;
}

.page {
  background-color: #222121;
  width: 100%;
  height: 100%;
}

.data {
  display: flex;
  flex-direction: row-reverse;
}

.table {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

th {
  width: 100%;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: #ffff42;
  text-decoration: underline;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 100%;
  display: flex;
  color: #ffff42;
}

#image-col {
  display: flex;
}

.item {
  box-shadow: 1px 1px 1px #a5a5a5;
  margin-top: 5px;
}

.item:hover {
  background-color: #7180b9;
  color: black;
  transition: all 0.5s;
}

.item:active {
  background-color: #ffff42;
}

.first-row {
  display: flex;
  flex-direction: row-reverse;
}

.user-title {
  display: flex;
  justify-content: center;
  color: #ffff42;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  align-items: center;
  height: 10px;
  padding-top: 100px;
}

.mount-title {
  display: flex;
  justify-content: center;
  color: #ffff42;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  align-items: center;
  height: 30px;
  margin-top: 50px;
}

.show {
  display: none;
}

.extra {
  height: 79px;
}

.show-div {
  height: 82px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.try {
  width: 100px;
  background: none;
  color: #ffff42;
  border: 2px solid black;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.try:hover {
  background-color: #7180b9;
  color: black;
  transition: all 0.5s;
}

.on {
  display: none;
}

.menu-button {
  display: none;
}

.position {
  display: flex;
  flex-direction: column;
}

.login {
  font: "Oswald", sans-serif;
  font-size: 25px;
  margin: 0px;
}

.arrow {
  background: none;
  border: none;
  color: yellow;
}

.search {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-two {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-title {
  color: #ffff42;
  font: "Oswald", sans-serif;
  font-size: 20px;
}

.counter {
  margin: 0;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  color: #ffff42;
  font: "Oswald", sans-serif;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
}

@media (max-width: 1000px) {
  .in-side {
    display: none;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .user-button {
    width: 104px;
  }

  .menu-button {
    display: flex;
    color: yellow;
    height: 50px;
    width: 50px;
  }

  .sidebar-two {
    box-shadow: 1px 1px 1px #7180b9;
    height: 100px;
    background-color: #131313;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0%;
    transition: all 0.5s;
    z-index: 10;
  }

  .link-button {
    display: flex;
    height: 32px;
    width: 100px;
    list-style-image: none;
    transition: all 1s;
  }
}

/*# sourceMappingURL=styles.css.map */
